### Problem Statement 1: In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans.

### Write a Python code to perform the following operations:

1. Read an integer input that specifies the number of highly satisfied customers

In [1]:
user_input = int(input('Enter number of HS: ').strip())

2. Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time

Find out the Margin of Error using scipy.stats.norm.ppf
<br>Calculate and print the confidence interval values rounded up to five decimal places and separated by a space

In [2]:
import scipy.stats as stats

def confidence_interval(x, n):
    # Calculate sample proportion
    p = x / n
    
    # Calculate standard error of the proportion
    std_error = (p * (1 - p) / n) ** 0.5
    
    # Calculate critical value for 90% confidence level
    critical_value = stats.norm.ppf(0.95)
    
    # Calculate margin of error
    margin_of_error = critical_value * std_error
    
    # Calculate confidence interval
    lower_bound = p - margin_of_error
    upper_bound = p + margin_of_error
    
    return round(lower_bound, 5), round(upper_bound, 5)

In [3]:
# Assuming the sample size is fixed at 200
sample_size = 200

# Calculate confidence interval
lower, upper = confidence_interval(user_input, sample_size)

In [4]:
lower, upper

(0.24196, 0.34804)

### Problem Statement 2: A radar unit is used to measure the speeds of cars on a motorway. The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.

Write a Python code to perform the following operations:<br> 1. Find the probability that a car picked at random is traveling at more than X km/hr <br>• Take the speed X as an input <br>• Print the probability value rounded up to four decimal places Hint: Use Normal Distribution.

In [5]:
import scipy.stats as stats

def probability_more_than_x(speed, mean, std_dev):
    # Calculate the z-score
    z_score = (speed - mean) / std_dev
    
    # Use the survival function (1 - CDF) to find the probability
    probability = 1 - stats.norm.cdf(z_score)
    
    return round(probability, 4)

In [6]:
# Read input
speed = float(input('Enter speed: ').strip())

# Given parameters
mean_speed = 75  # mean speed in km/hr
std_dev_speed = 15  # standard deviation in km/hr

# Calculate probability
probability = probability_more_than_x(speed, mean_speed, std_dev_speed)

# Print probability rounded to four decimal places
print(probability)

0.6554

### Problem Statement 3: Write a Python program to load the “kerala.csv” data into a DataFrame and perform the following tasks:

In [7]:
import pandas as pd
import numpy as np

In [8]:
kerala_dataset = pd.read_csv('C:\\Users\\User\\Documents\\MyDataSci\\steps\\kerala.csv')
kerala_dataset.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

1. Explore the DataFrame using info() and describe() functions

In [9]:
kerala_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [10]:
kerala_dataset.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

2. June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more; create a Datarame with columns –“YEAR”, “JUN_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of June) , “JUL_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of July), and “FLOODS” (Contains a boolean value to show whether it flooded that year)

In [11]:
# gt_500 = kerala_dataset[kerala_dataset['JUN']>500][['YEAR']]
# gt_500['JUN_GT_500'] = kerala_dataset['JUN']>500
# gt_500['JUL_GT_500'] = kerala_dataset['JUL']>500
# gt_500['FLOODS'] = kerala_dataset['FLOODS']=="YES"
# gt_500

# 2. Create a new DataFrame with flood information
flood_df = pd.DataFrame()

flood_df['YEAR'] = kerala_dataset['YEAR']
flood_df['JUN_GT_500'] = kerala_dataset['JUN'] > 500
flood_df['JUL_GT_500'] = kerala_dataset['JUL'] > 500
flood_df['FLOODS'] = kerala_dataset['FLOODS']
flood_df

     YEAR  JUN_GT_500  JUL_GT_500 FLOODS
0    1901        True        True    YES
1    1902       False        True    YES
2    1903        True        True    YES
3    1904        True        True    YES
4    1905        True        True     NO
..    ...         ...         ...    ...
113  2014       False        True    YES
114  2015        True       False     NO
115  2016        True       False     NO
116  2017       False       False     NO
117  2018        True        True    YES

[118 rows x 4 columns]

In [12]:
#converting rainfall values into binary values - 0: below 500mm, 1: above 500mm
flood_df["JUN_GT_500"] = flood_df["JUN_GT_500"].astype("int")
flood_df["JUL_GT_500"] = flood_df["JUL_GT_500"].astype("int")

#coverting values in FLOODS column to numeric
flood_df["FLOODS"] = flood_df["FLOODS"].map({"YES": 1, "NO": 0})
flood_df.head()

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0  1901           1           1       1
1  1902           0           1       1
2  1903           1           1       1
3  1904           1           1       1
4  1905           1           1       0

In [13]:
#display counts using a cross-tab
jun_count = pd.crosstab(flood_df["FLOODS"], flood_df["JUN_GT_500"], margins=True, margins_name="Total")
jun_count

JUN_GT_500   0   1  Total
FLOODS
0           19  39     58
1            6  54     60
Total       25  93    118

3. Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

In [14]:
# Calculating the probability of flood is given as: 60/118
round(60/118,3)

0.508

4. Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))

In [15]:
# Calculating the probability of raining more than 500 mm is given as: 93/118
round(93/118,3)

0.788

5. Probability of flood given it rained more than 500 mm in July

In [16]:
#display counts using a cross-tab
jul_count = pd.crosstab(flood_df["FLOODS"], flood_df["JUL_GT_500"], margins=True, margins_name="Total")
jul_count

JUL_GT_500   0   1  Total
FLOODS
0           19  39     58
1            3  57     60
Total       22  96    118

In [17]:
# Calculating the probability of flood is given as: 60/118
round(60/118,3)

0.508

In [18]:
# Calculating the probability of raining more than 500 mm is given as: 96/118
round(96/118,3)

0.814

### Problem Statement 4: Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks:

In [19]:
from sklearn.datasets import load_wine
from scipy.stats import norm

In [20]:
# Load wine dataset
wine_data = load_wine()

1. Convert the dataset into DataFrame using pandas.

In [21]:
# Convert the dataset into DataFrame
df = pd.DataFrame(data=wine_data.data, columns=wine_data.feature_names)

2. Generate the sample size of 50 and give a random state as 100.

In [22]:
# Generate a sample of size 50 with a random state of 100
sample_size = 50
random_state = 100
sample = df.sample(n=sample_size, random_state=random_state)

3. Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol at 95% significance interval on generated sample data.

In [23]:
# Calculate Z-critical for 95% confidence interval
confidence_level = 0.95
z_critical = norm.ppf(confidence_level + (1 - confidence_level) / 2)

In [24]:
# Calculate Margin of Error
std_dev = sample['alcohol'].std()
standard_error = std_dev / np.sqrt(sample_size)
margin_of_error = z_critical * standard_error

In [25]:
# Calculate Confidence Interval
sample_mean = sample['alcohol'].mean()
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

# Output results
print("Z-critical value for 95% confidence interval:", z_critical)
print("Margin of Error:", margin_of_error)
print("Confidence Interval for alcohol at 95% significance interval:", confidence_interval)

Z-critical value for 95% confidence interval: 1.959963984540054
Margin of Error: 0.2130595344634679
Confidence Interval for alcohol at 95% significance interval: (12.76054046553653, 13.186659534463468)